APITest/.idea
APITest/.idea/
APITest/ParseTests/__pycache__
APITest/ParseTests/__pycache__/
RestAPI/.mvn
RestAPI/.mvn/
target/*
.settings/*
.classpath
.project
.idea
*.iml
/target

generated/
TestCasesGenerationApp/venv
TestCasesGenerationApp/venv/
TestCasesGenerationApp/__pycache__
TestCasesGenerationApp/__pycache__/
TestCasesGenerationApp/.idea
TestCasesGenerationApp/.idea/
TestCasesGenerationApp/src/__pycache__
TestCasesGenerationApp/src/__pycache__/
# Easier branch switching
springboot-petclinic-client/
springboot-petclinic-server/
